
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area box-plr-75">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- banner area start -->
    <section class="about__banner-area">
        <div class="container-fluid p-0">
            <div class="row gx-0">
                <div class="col-xxl-12">
                    <div class="about__banner w-img">
                        <img src="~/assets/img/about/about-bg.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner area end -->
    <!-- about area start -->
    <section class="about__area box-plr-75 p-relative about__mt--325">
        <div class="container-fluid">
            <div class="about__inner white-bg">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="about__wrapper">
                            <h3>About Topico Magento</h3>
                            <p class="about__text">Vivamus a lacinia sem. Integer in enim sapien. Aenean vitae hendrerit nisi, ut suscipit justo. Duis hendrerit sceleri sque dui. Donec ornare massa vitae neque lobortis rutrum.</p>

                            <div class="about__quote">
                                <blockquote>
                                    <p>Lorem ipsum <span>dolor sit amet</span>, consectetur adipiscing elit. Nunc hendrerit tellus et nisi ultra trices, eu feugiat sapien commodo. Praesent vitae ipsum et risus.</p>
                                </blockquote>
                            </div>
                            <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit tellus et nisi ultrices, eu feugiat sapien com modo. Praesent vitae ipsum et risus tempus tincidunt in tincidunt justo. Nunc consectetur non sapien id faucibus. Curabitur id nibh eu felis pellentesque pellentesque quis vel nulla. Vivamus a lacinia sem. Integer in enim sapien. Aenean vitae hendrerit nisi, ut suscipit justo. Duis hendrerit scelerisque dui. Donec ornare massa vitae neque lobor tis rutrum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- what area start -->
   
    <!-- subscribe area end -->
    <!-- back to top btn area start -->
    <section class="back-btn-top">
        <div class="container-fluid p-0">
            <div class="row gx-0">
                <div class="col-xl-12">
                    <div id="scroll" class="back-to-top-btn text-center">
                        <a href="javascript:void(0);">back to top</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- back to top btn area end -->


</main>

