@model WebLaptop.ModelViews.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area box-plr-75">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Register</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- login Area Strat-->
    <section class="login-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60">Đổi mật khẩu</h3>
                        <form asp-action="ChangePassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label>Mật khẩu cũ <span>**</span></label>
                            <input asp-for="PasswordNow" type="password" placeholder="Enter họ và tên" />
                            <span asp-validation-for="PasswordNow" class="text-danger"></span>
                            <label>Mật khẩu mới <span>**</span></label>
                            <input asp-for="Password" type="password" placeholder="Email address..." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <label>Nhập lại mật khẩu mới <span>**</span></label>
                            <input asp-for="ConfirmPassword" type="password" placeholder="Enter số điện thoại..." />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <label>Mật khẩu <span>**</span></label>                          
                            <div class="mt-10"></div>
                            <button class="t-y-btn w-100">Đổi mật khẩu</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Area End-->

</main>
